*{ color: aquamarine;
    font-family: sans-serif;
}
table{ 
    border: 1px solid black;
}

td{
    border: 1px solid blanchedalmond;
    color: black;
}

label{

    display: inline-block;
    color: black;
    
    width: 120px;
    background-color: bisque;

}

div{
    text-align: center;
    margin: auto;
}

.container{
    background-color: rgb(216, 231, 3);
    width: fit-content;
    border: 2px solid black;
    padding: 10px 10px 10px;
}

h1{
    text-align: center;
}