*{ color: aquamarine;
    font-family: sans-serif;
}
table{ 
    border: 1px solid black;
}

td{
    border: 1px solid blanchedalmond;
    color: black;
}

label{

    display: inline-block;
    color: black;
    
    width: 120px;
    /*background-color: rgb(202, 114, 5);*/

}

div{
    text-align: center;
   /* background-color: rgb(228, 132, 42);*/
    margin: auto;
}

.container{
    background-color: rgba(143, 143, 141, 0.541);
    width: fit-content;
    border: 2px solid black;
    padding: 10px 10px 10px;
    border-radius: 25px;
}

h1{
    text-align: center;
    color: #d1560a;
}

h2{
    text-align: justify;
    color: black;

}
div{
    bottom: unset;
}