*{ color: aquamarine;
    font-family: sans-serif;
}
table{ 
    border: 1px solid black;
}

td{
    border: 1px solid blanchedalmond;
    color: black;
}

label{

    display: inline-block;
    color: rgb(141, 9, 9);
    
    width: 120px;
    /*background-color: rgb(202, 114, 5);*/

}

div{
    text-align: center;
   /* background-color: rgb(228, 132, 42);*/
    margin: auto;
}

.container{
    background-color: rgba(143, 143, 141, 0.541);
    width: fit-content;
    border: 2px solid black;
    padding: 10px 10px 10px;
    border-radius: 25px;
}

h1{
    text-align: center;
    color: rgb(141, 9, 9);
}

h2{
    text-align: justify;
    color: black;

}
button{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:30px;
    padding-right:30px;
    background-color:#d1560a;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}
