*{font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: rgb(141, 9, 9);
}

input{
    width: 150px ;
}


td{
    border: 1px solid gray;
    color: rgb(121, 121, 121);
}

label {
    display: inline-block;
    color: blue;
    width: 120px;
   /* background-color: rgb(153, 155, 155);*/
}

div{
    align-items: center;
    margin:auto;
}

.formulario{
background-color: rgb(203, 171, 231);
width: fit-content;
border: 2px solid black;
padding: 10px 10px 10px;
border-radius: 20px;
}

.tabla{
    background-color: aliceblue;
    width: fit-content;
    border: 1px solid black;
    padding:  10px 10px 10px;
    border-radius: 5px;
}